@page
@model SamlApp.SustainSys.Pages.ClaimsModel
@{
    ViewData["Title"] = "Claims";
}

<h2>Hello @User?.Identity?.Name</h2>

<table class="table table-striped table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>
                Issuer
            </th>
            <th>
                Type
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Claims)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Issuer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>